services:
  postgres:
    image: postgres:16-alpine
    container_name: the-mithril-postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: mithril
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mithril
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready", "-U", "terminal_user"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
    driver: local
